.app-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #fff2f4;
}
.content-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 125px;
    height: 55vh;
    border-radius: 19px;
    min-width: 250px;
    background-color: #f5818b;
    flex-direction: column;
    text-align: center;
}
.heading{
    font-size: 35px;
    color: #ffff;
}
.counter{
    margin-top: -10px;
    font-size: 45px;
    font-weight: 600;
    color: #ffff
}
.increase-btn{
    border-width: 0;
    border-radius: 7px;
    color: white;
    height: 50px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(23, 136, 23);
    cursor: pointer;
}
.decrease-btn{
    border-width: 0;
    border-radius: 7px;
    color: white;
    height: 50px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(223, 27, 27);
    cursor: pointer;
}
.reset-btn{
    border-width: 0;
    border-radius: 7px;
    color: white;
    height: 50px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(233, 135, 23);
    cursor: pointer;
}